.loadingText{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0rem;
  left: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingState{
  color: grey;
}

.loader{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  animation: rotate-loader 1.5s infinite ease-in-out;
  justify-content: center;
}

@keyframes rotate-loader {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.flexLoaders{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loadBlue{
  width: 10px;
  height: 10px;
  background-color: rgb(0, 204, 255);
  border-radius: 100%;
  margin: 4px;
}

.loadGreen{
  width: 10px;
  height: 10px;
  background-color: #ff85ad;
  border-radius: 100%;
  margin: 4px;
}

.loadYellow{
  width: 10px;
  height: 10px;
  background-color: rgba(255, 192, 0, 1);
  border-radius: 100%;
  margin: 4px;
}

.loadRed{
  width: 10px;
  height: 10px;
  background-color: rgb(255, 89, 67);
  border-radius: 100%;
  margin: 4px;
}

.loadingStateDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.label{
    display: grid;
    grid-template-columns: 15ch 1fr;
    margin: 1rem 0rem 0.5rem 0rem;
}

.messageLabel{
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}

.colorLabel{
    display: flex;
    justify-content: space-around;
    font-size: 0.9rem;
}

.yellowEgg{
     background-color: rgba(255, 192, 0, 1);
     width: 7rem;
     height: 3rem;
     border-bottom-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
}

.blueEgg{
    background-color: rgb(0, 204, 255);
    width: 7rem;
    height: 3rem;
    border-bottom-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
}

.greenEgg{
    background-color: #9cffbe;
    width: 7rem;
    height: 3rem;
    border-bottom-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
}

.pinkEgg{
    background-color: #ff85ad;
    width: 7rem;
    height: 3rem;
    border-bottom-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
}

.redEgg{
    background-color: rgb(255, 89, 67);
    width: 7rem;
    height: 3rem;
    border-bottom-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 0px 20px -3px #b6b6b6;
    padding: 1rem;
    border-radius: 1rem;
    width: 50rem;
    height: auto;
}

.colorInputField{
  display: flex;
  padding: 0.3rem;  
}

.backColorInput{
  background-color: rgb(236, 236, 236);
  margin-top: 0.5rem;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
  cursor: pointer;
}

.colorInputText{
  margin: 0rem 0rem 0rem 0.3rem;
}

.info{
    margin: 0rem;
    line-height: 120%;
    font-size: 0.9rem;
}

.eggCol{
  margin: 1rem 0rem 0rem 0rem;
}

.submit{
    border: none;
    background-color: #0070f3;
    color: white;
    padding: 0.7rem;
    border-radius: 2rem;
    cursor: pointer;
}

.nameInput{
  border: 1px solid rgb(192, 192, 192);
  background-color: white;
  width: 100%;
  margin-top: 0.3rem;
  padding: 0.3rem 0rem 0.3rem 0.7rem;
  /*background-color: rgb(185, 185, 185);*/
  width: 280px;
  border-bottom-left-radius: 0rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.titleInput{
    border: none;
  border-bottom: 1px solid rgb(192, 192, 192);
  background-color: white;
  width: 100%;
  margin-top: 0.3rem;
  padding: 0.3rem 0rem 0.3rem 0.7rem;
}

.textarea{
  width: 100%;
  height: 8rem;
  border: none;
  background-color: rgb(236, 236, 236);
  border-radius: 1rem;
  resize: none;
  padding: 0.5rem 0rem 0.5rem 1rem;
  margin-top: 0.5rem;
}

.imageUpload{
  display: none;
}

.imageDisp{
    border-radius: 1rem;
}

.customUpload{
  margin-top: 1rem;
  padding: 0.4rem;
  width: 9rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  background-color: rgb(236, 236, 236);
  border-radius: 1.4rem;
  cursor: pointer;
}

@media only screen and (max-width: 850px){
.form{
    width: 100%;
}
 
}

@media only screen and (max-width: 705px){

.form{
  width: 100vw;
  margin: 0rem;
  border-radius: 0;
}

.info{
  margin: 0rem 3rem 0rem 3rem;
}

.h3{
  margin: 2rem 3rem 0rem 3rem;
}

.nameInput{
  margin: 1rem 3rem 0rem 1rem;
}
 
}

@media only screen and (max-width: 625px){
  .yellowEgg, .blueEgg, .greenEgg, .pinkEgg, .redEgg{
    width: 5rem;
}
}

@media only screen and (max-width: 625px){
  .yellowEgg, .blueEgg, .greenEgg, .pinkEgg, .redEgg{
    width: 4.5rem;
}
.colorInputText{
  display: none;
}
}

@media only screen and (max-width: 430px){
  .colorLabel{
    flex-wrap: wrap;
    justify-content: center;
}
.yellowEgg, .blueEgg, .greenEgg, .pinkEgg, .redEgg{
    width: 6rem;
    height: 2rem;
}
.backColorInput{
  margin: 0rem 0.3rem 0rem 0.3rem;
}
}

@media only screen and (max-width: 400px){
  .info{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .h3{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

@media only screen and (max-width: 310px){
  .nameInput{
    width: 200px;
  }
}