/*---------------------- EGG -----------------------*/

.egg{
    width: 15rem;
    height: 15rem;
    border-radius: 70% 25% 55% 50% / 55% 25% 70% 50%;
    border: 5px solid #1c446b;
    transform: rotate(-45deg);
    background: rgba(255, 192, 0, 0.1);
    animation: moving-egg 4s infinite ease-in-out;
    grid-column-start: 1;
    grid-row-start: 1;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
}

.yellowEgg{
     background-color: rgba(255, 192, 0, 1);
}

.fadeEgg{
    opacity: 0;
    animation: egg-disapear 1s ease-in-out;
    grid-column-start: 1;
    grid-row-start: 1;
}

@keyframes egg-disapear {
    0%{opacity: 1;}
    100%{opacity: 0;}
}

.eggUnder{
    width: 15rem;
    height: 15rem;
    border-radius: 70% 25% 55% 50% / 55% 25% 70% 50%;
    transform: rotate(-45deg);
    background-color: rgba(255, 192, 0, 1);
    animation: moving-egg 4s infinite ease-in-out;
    grid-column-start: 1;
    grid-row-start: 1;
    z-index: 9;
}

.eggGrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: flex-end;
    justify-items: center;
    animation: scale-egg 4s infinite ease-in-out;
}

.showEggGrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: flex-end;
    justify-items: center;
}

.eggContainer{
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 5;
}

@keyframes moving-egg {
    0% {
        transform: rotate(-45deg);
        width: 15rem;
        height: 15rem;
        margin-bottom: 0rem;
    }
    5% {
        transform: rotate(-45deg);
    }
    10% {
        transform: rotate(-45deg);
    }
    15% {
        transform: rotate(-45deg);
        width: 15rem;
        height: 15rem;
        margin-bottom: 0rem;
    }
    100% {}
}

@keyframes scale-egg {
    0% {
        transform: scale(1, 1);
        margin-bottom: 0px;
    }
    8% {
        transform: scale(1.01, 0.9);
        margin-bottom: -15px;
    }
    16% {
        transform: scale(1, 1);
        margin-bottom: 20px;
    }
    24%{
       transform: scale(1.01, 0.9);
        margin-bottom: -15px;
    }
    32%{
        transform: scale(1, 1);
        margin-bottom: 0px;
    }
    50%{
        
    }
    100% {}
}

.hatchTitle{
    color: #1c446b;
}

/*---------------------------------------------------------------*/

.eggHatchingDiv{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 192, 0, 0);
    top: 0;
    animation: sparkless 1s ease-in-out;
    z-index: -1;
    display: none;
}

@keyframes sparkles {
    0%{background-color: rgba(255, 192, 0, 0);}
    50%{background-color: rgba(255, 192, 0, 1); z-index: 10;}
    100%{background-color: rgba(255, 192, 0, 0); z-index: -1;}
}

.eggHatchingContent{
    opacity: 1;
    animation: fade-in 1.5s ease-in-out;
    grid-column-start: 1;
    grid-row-start: 1;
    transform: scale(1, 1);
}

@keyframes fade-in {
    0%{opacity: 0; transform: scale(0.1, 0.1);}
    60%{opacity: 1; transform: scale(1.5, 1.5);}
    100%{transform: scale(1, 1);}
}

/*--------------------------- hatches ---------------------------*/

.hatchZero{
    background-image: url("../assets/images/hatch-00.png");
    width: 42px;
    height: 42px;
    margin: 0.9rem;
}

.hatchOne{
    background-image: url("../assets/images/hatch-01.png");
    width: 79px;
    height: 79px;
    margin: 0.9rem;
}

.hatchTwo{
    background-image: url("../assets/images/hatch-02.png");
    width: 103px;
    height: 103px;
    margin: 0.9rem;
}