html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* background-image: url("../assets/images/jungle-bg.jpg");
    background-size: cover;
    background-position: center; */
  background-color: rgb(236, 236, 236);
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.fa-cut{
  color: #0070f3;
  font-size: 1.5rem;
}

.fa-share-alt{
  color: #0070f3;
  font-size: 1.3rem;
  margin-left: -2px;
}

.fa-paper-plane{
  color: white;
  z-index: 2;
  position: absolute;
}

.fa-sort-down{
  font-size: 1.5rem;
  margin-top: -0.5rem;
  color: grey;
}

.fa-sort-up{
  font-size: 1.5rem;
  margin-top: 0.5rem;
  color: grey;
}

button:focus, input:focus, textarea:focus {
  outline-width: 0;
}

.link-i{
  position: absolute;
  top: -40px;
  background-color: white;
  padding: 0.6rem 1rem 0.6rem 1rem;
  z-index: 19;
  border-radius: 3rem;
}

.copied-link{
    animation: clicked-copy 3s ease-in-out;
}

@keyframes clicked-copy {
    0%{top: -40px;}
    15%{top: 15px;}
    85%{top: 15px;}
    100%{top: -40px;}
}