.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 50rem;
}

.cardDisplay{
  display: flex;
  width: 100vw;
  overflow: scroll;
  margin-top: 2rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  color: inherit;
  text-decoration: none;
  border-radius: 1px;
  min-width: 15rem;
  height: 13rem;
  overflow-y: hidden;
  box-shadow: 7px 10px 10px #888888;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.title{
  margin: 0rem;
  font-size: 1rem;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.sender{
  font-size: 0.8rem;
  font-style: italic;
  margin-top: 0rem;
}